<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="/assets/styles/form.css">
    <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
    <header class="d-flex justify-content-center m-3">
        <h1>Title</h1>
    </header>

    <!-- Step by step form is based off of the code from W3 schools. (Modified with Bootstrap.) -->
    <!-- https://www.w3schools.com/howto/howto_js_form_steps.asp? -->
    <div class="d-flex justify-content-center">
        <form id="regForm" class="d-flex justify-content-center w-75 m-3">
            <div class="tab text-center">
                <p>This survey is based off of the <a href="https://www.tacobell.ca/">Taco Bell website</a>.</p>
                <p>Example image of the website (click to access the site):</p>
                
                <a href="https://www.tacobell.ca/">
                    <img src="assets/images/site_example.png" class="img-fluid w-50 border border-dark">
                </a>
                
                <p>Begin the survey by clicking on Next.</p>
            </div>

            <div class="tab w-75 m-3">
                <p>Please enter your name:</p>
                <div name="word" class="d-flex justify-content-center">
                    <input type="text" name="name">
                </div>
                <small class="form-text text-muted">Your name will be used to organize your results in our analysis.</small>
            </div>

            <div class="tab w-75 m-3">
                <p>Question 1:</p>
                <p>How often do you visit this site in a month?</p>
                <div class="d-flex justify-content-center">
                    <input name="visits" class="w-25 align-self-center" type="number">
                </div>
            </div>

            <div class="tab w-75 m-3">
                <p>Question 2:</p>
                <p>On first impressions, what is your opinion of the looks of this site?</p>
                <div class="inputListDiv">
                    <div class="form-check w-75 mt-3">
                        <input name="impressions" type="radio" data-bs-theme="light" class="form-check-input" id="radio1" name="radioButtons" value="like"></input>
                        <label for="radio1" class="form-check-label">"I like the look."</label>
                    </div>

                    <div class="form-check w-75 mt-3">
                        <input name="impressions" type="radio" class="form-check-input" id="radio2" name="radioButtons" value="neutral"></input>
                        <label for="radio2" class="form-check-label">"I am neutral of the look."</label>
                    </div>

                    <div class="form-check w-75 mt-3">
                        <input name="impressions" type="radio" class="form-check-input" id="radio3" name="radioButtons" value="dislike"></input>
                        <label for="radio3" class="form-check-label">"I dislike the look."</label>
                    </div>
                </div>
            </div>

            <div class="tab w-75 m-3">
                <p>Question 3:</p>
                <p>What browser are you using to view this website?</p>
                <div class="d-flex justify-content-center">
                    <select name="browsers" id="list_input">
                        <option value="Internet Explorer">Internet Explorer</option>
                        <option value="Firefox">Firefox</option>
                        <option value="Google Chrome">Google Chrome</option>
                        <option value="Opera">Opera</option>
                        <option value="Safari">Safari</option>
                    </select>
                </div>
            </div>

            <div class="tab w-75 m-3">
                <p>Question 4:</p>
                <p>Which devices do you use?</p>
                <div class="form-check w-50 mt-3">
                    <input type="checkbox" name="devices" class="form-check-input" id="check1" value="Desktop">
                    <label for="check1" class="form-check-label">Desktop</label>
                </div>

                <div class="form-check w-50 mt-3">
                    <input type="checkbox" name="devices" class="form-check-input" id="check2" value="Laptop">
                    <label for="check2" class="form-check-label">Laptop</label>
                </div>

                <div class="form-check w-50 mt-3">
                    <input type="checkbox" name="devices" class="form-check-input" id="check3" value="Tablet">
                    <label for="check3" class="form-check-label">Tablet</label>
                </div>

                <div class="form-check w-50 mt-3">
                    <input type="checkbox" name="devices" class="form-check-input" id="check4" value="Phone">
                    <label for="check4" class="form-check-label">Phone</label>
                </div>

                <div class="form-check w-50 mt-3">
                    <input type="checkbox" name="devices" class="form-check-input" id="check5" value="Smart TV">
                    <label for="check5" class="form-check-label">Smart TV</label>
                </div>

                <div class="form-check w-50 mt-3">
                    <input type="checkbox" name="devices" class="form-check-input" id="check6" value="Smart Fridge">
                    <label for="check6" class="form-check-label">Smart Fridge</label>
                </div>
            </div>

            <div class="tab w-75 m-3">
                <p>Question 5:</p>
                <p>Describe this website in one word:</p>
                <div name="word" class="d-flex justify-content-center">
                    <input type="text">
                </div>
            </div>

            <div class="tab w-75 m-3">
                <p>Question 6:</p>
                <p>What are some changes you would make to this website?</p>
                <textarea name="changes" class="w-100"></textarea>
            </div>

            <div class="tab w-75 m-3">
                <p>Feedback / Additional Comments:</p>
                <textarea name="comments" class="w-100"></textarea>
                <small class="form-text text-muted">Help us improve our site!</small>
            </div>

            <div class="tab w-75 m-3 text-center">
                <p>You've reached the end of the survey!</p>
                <button type="submit" class="btn btn-warning" id="bb">Submit</button>
            </div>
        </form>
    </div>

    <div style="overflow:auto;">
        <div class="d-flex justify-content-center" id="buttonDiv">
            <button class="w-25 m-3" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button class="w-25 m-3" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>

    <footer class="d-flex justify-content-end">
        <p>Created by group 15: Winona, John, Rachel</p>
    </footer>

    <script src="/assets/scripts/form.js"></script>
    <script src="/assets/scripts/bootstrap.min.js"></script>
    <script src="/assets/action.js"></script>
</body>
</html>